@import 'https://fonts.googleapis.com/css?family=Alfa+Slab+One';
body {
    /*filter: alpha(opacity=70, style=0); background-color: rgb(8, 10, 8);;*/
/*    background: url(back.jpeg) repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  background-color: #000000;
    font-family: 'Titillium Web', sans-serif;

    font-family: 'Chewy', cursive;
    font-family: 'Alfa Slab One';

}
audio {
  filter: sepia(20%) saturate(70%) grayscale(0) contrast(70%) invert(12%);
  width: 200px;
  height: 50px;

}




  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .center {
      width: 100%;
    text-align: center;
  }
  .logos{
      border:0px solid #adff2f;
      border-radius: 6%;
      padding: 3px;
       width:40%;
        height:40%;

  }

#head {
    width: 100%;
  
    text-align: center;
   color: #ffffff;
}
.StationName {
color:#adff2f;
/*  background: -webkit-linear-gradient( #08aa10, rgb(130, 123, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px rgb(0, 0, 0));*/
  border:3px solid #adff2f;
  border-radius: 20%;
  padding: 3px;
}
#bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #adff2f;
  color: black;
  text-align: center;

}
#content {
  /*  background-color: #0f0e0e;*/

}

#content::after {
    content: "";
    display: table;
    clear: both;
}
hr {
  border: 1px dotted #adff2f;
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;
  width:300px;
}
h1 {

  color:  #adff2f;
  font-weight: lighter;


  font-size: 28px;
/*  background: -webkit-linear-gradient( #08aa10, rgb(130, 123, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px rgb(0, 0, 0));
  */
}


/*👇 for preload play/pause svg 😎*/
body:after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg)
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg);
}
